.countdown {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5%;
    row-gap: 1.3rem;
    justify-items: center;
    width: 90%;
    max-width: 24.75rem;
    margin: 0 auto;
}

.countdown__block {
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    padding: 12px 20px;
    border: solid 1px rgba(255, 255, 255, 0.3);
    color: #fff;

    &.__weeks {
        grid-column: 2 / span 2;
        grid-row: 1;
    }

    &.__days {
        grid-column: 4 / span 2;
        grid-row: 1;
    }

    &.__hours {
        grid-column: 1 / span 2;
        grid-row: 2;
    }

    &.__minutes {
        grid-column: 3 / span 2;
        grid-row: 2;
    }

    &.__seconds {
        grid-column: 5 / span 2;
        grid-row: 2;
    }
}

.countdown__amount {
    display: block;
    font-size: 2.3rem;
    font-weight: 700;
}

.countdown__caption {
    font-size: .8rem;
    font-weight: 100;
    text-transform: uppercase;
}